<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>

<body>
    <main>
        <form class="form">
            <h3>Log In</h3>
            <div class="inputGroup">
                <label for="username">Write your username</label>
                <input required type="text" name="username" id="username" placeholder="someone">
            </div>

            <div class="buttonContainer">
                <input type="submit" id="login" value="Get in to the chat">
            </div>
        </form>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/register.js"></script>
</body>

</html>